<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head> 
    <title>INHA METAVERSE</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:3000/style/styles.css">
  </head>
  <body>
    <div class="home_box">
      <span class="banner">
        <div class="login_box">
          <span class="select">공간</span>
          <span class="select">프로젝트</span>
          <span class="select">프로필</span>
          <span class="select">지원</span>
          <button onclick="location.href='/signin'" class="bubble_button">
            로그인
          </button>
          
        </div>
      </span>
      <div class="title_box">
        <img src="http://localhost:3000/img/archifree_icon.svg" alt="icon">
        <p class="aa">모든 사람 모든 공간<br>
          아키프리에서</p>
        <button onclick="location.href='/signup'" class="signup_button">회원가입</button>
      </div>
    </div>
  </body>
</html>
